<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/styles.css">
    <title>Elementos</title>
</head>
<body>
    <a href="../../index.html" class="boton-regresar">Regresar</a>

    <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
        <table id="tabla-elementos-lista" class="w-full text-sm text-left rtl:text-right text-body">
            <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
                <tr>
                    <th scope="col" class="px-6 py-3 font-medium">
                        CANTIDAD
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        MODELO
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        MARCA
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        SERIAL
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        PLACA
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        DESCRIPCION
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        FECHA DE INGRESO
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        FECHA DE BAJA
                    </th>
                </tr>
            </thead>
            <tbody id="elementos-body">

            </tbody>
        </table>
    </div>
    <script src="../js/scripts.js" defer></script>
</body>
</html>
